#entrar {
    cursor: pointer;
    width: 200px;
    height: 50px; /* Ajusta la altura según sea necesario */
    background-image: url('4cdba2a7fecfd5649711327d036b933b.gif'); /* Cambia la ruta de la imagen si es necesario */
    background-size: cover;
    background-position: center;
    border: none;
    color: transparent; /* Para que el texto no se vea, ya que la imagen lo cubre */
    margin-top: 20px;
  }
  img, video {
    width: 80%;
    margin-top: 20px;
    /* Eliminar el borde de los GIFs */
    border: none; 
    border-radius: 15px;
  }
  
  